@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">

    <div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()         
            @Form.TextBoxRequired(name: "Company", value: Model.Company, maxLength:100)   
            @Form.TextBoxRequired(name: "Name", value: Model.Name)   
            @Form.TextBoxRequired(name: "Address1", value: Model.Address1)   
            @Form.TextBoxRequired(name: "City", value: Model.City)   
            @Form.TextBoxRequired(name: "State", value: Model.State, maxLength: 15)   
            @Form.TextBoxRequired(name: "Phone", value: Model.Phone, maxLength: 15)   
            @Form.TextBoxRequired(name: "Email", value: Model.Email)   
            @Form.TextArea(name: "Comment", value: Model.Comment)   
            @Form.Submit(value: "Submit")
            @Html.ValidationSummary(true)  
        } 
    </div>


</section>
